.descriptionBlock {
  padding: 20px;
}
.profilePhoto {
  width: 200px;
  background-size: cover;
}
.descriptionBlock {
  display: flex;
  max-width: 50%;
  justify-content: space-between;
}
.userInfo {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}
